@font-face  {
  font-family:'nexah'; 
  src: url(fonts/NexaHeavy.ttf);
}

body {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto auto auto;
  grid-template-areas:
  'header'
  'main'
  'footer';
  background-color: #171716;
  font-family: nexah;
  text-align: center;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1em;
}



header.item1 {
  grid-area: header;
  width:100%;
  height: 100px;
}

nav.headmenu {
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-left: 50px;
}

nav.headmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav.headmenu li {
  margin: 10px;
  margin-top:30px
}

nav.headmenu a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  font-family: nexah;
}

.burger-menu {
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.line {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #FFFFFF;
  margin-bottom: 5px;
}

.toggle-input {
  display: none;
}

.toggle-input:checked ~ .burger-links {
  display: block;
}

.burger-links {
  display: none;
  justify-content: center;
}

@media (max-width: 700px) {
  nav.headmenu {
      align-items: flex-start;
      background-color: #171716;
      width:200px;
      margin-left:10px;
  }

  nav.headmenu ul {
      display: none;
  }

  .burger-menu {
      display: block;
      margin-top: 20px;
      margin-left: 20px;
  }
}

main .forside {
  grid-area: main;
  background-color: #171716;
}

.maincontent {
  grid-area: main;
  background-color: #FFF;
  color: #171716;
}

.portfolioimg {
  width: 40%;
}

.mig {
  width:25%;
} /*Forbedring */

.projects h2 {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); 
  max-width: 1100px; 
  margin: 0 auto;
}

.column {
  position: relative;
  display: flex;
}

.column h3 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  margin:0;
  font-size: 20px;
  z-index: 1;
}

.column img {
  width: 100%;
  height: auto;
}

.column .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.column:hover .overlay {
  opacity: 0;
}

.formgruppe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.kontaktinfo {
  font-size: 13px;
}


input[type="text"],
input[type="email"],
textarea {
width: 30%;
padding: 10px;
border: 1px solid #171716;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
outline: none;
border-color: #3498db;
}

.send {
  margin-bottom: 15px;
  background-color:#171716;
  color: #FFF;
  font-family: nexah;
  letter-spacing: 0.1em;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
    
.send:hover {
  background-color: #FFF;
  color:#171716;
  border: 1px solid #171716;
  border-color: #171716;
}

label {
  margin-bottom: 5px;
}

@media (max-width: 1000px) {
  .column .overlay {
      opacity: 0;
  }
  .column h3 {
      color: #171716;
  }
}


footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  color: #ffffff;
  font-size: 16px;
  padding: 20px 0; 
  justify-content: center;
}