@font-face  {
    font-family:'nexah'; 
    src: url(fonts/NexaHeavy.ttf);
  }

body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto auto auto;
    grid-template-areas:
    'header'
    'main'
    'footer';
    background-color: #171716;
    font-family: nexah;
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    letter-spacing: 0.1em;
}



header.item1 {
    grid-area: header;
    width:100%;
    height: 100px;
}

nav.headmenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-right: 50px;
}

nav.headmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav.headmenu li {
    margin: 10px;
}

nav.headmenu a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    font-family: nexah;
}

.burger-menu {
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
    margin-bottom: 5px;
    transition: transform 0.3s ease-in-out;
}

.toggle-input {
    display: none;
}

.toggle-input:checked ~ .link-options {
    display: block;
}


.link-options {
    display: none;
}

@media (max-width: 700px) {
    nav.headmenu {
        align-items: flex-end;
    }

    nav.headmenu ul {
        display: none;
        align-items: flex-end;
    }

    .burger-menu {
        display: block;
        margin-top: 20px;
        margin-left: 20px;
    }
}

main .forside {
    grid-area: main;
    background-color: #171716;
}

.maincontent {
    grid-area: main;
    background-color: #FFF;
    color: #171716;
}

.om-mig {
    display: flex;
    margin-bottom: 10px;
}

.content {
    color: #171716;
    flex: 1; /* Take up remaining space */
}

  
.portfolioimg {
    width: 40%;
}

.mig {
    width:20%;
}

.om-mig .image {
    flex: 1; /* Take up remaining space */
}
  
  
.om-mig .image img {
    width: 300px;
    animation: image-fade-in 1s ease-in 0.1s;
}
  
@keyframes image-fade-in {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

.projects h2 {
    margin-bottom: 20px;
}
  
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* Adjust the column width as needed */
    max-width: 1200px; /* Set a maximum width for the grid */
    margin: 0 auto; /* Center the grid horizontally */
}
  
.column {
    position: relative;
    display: flex;
}
  
.column h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    margin:0;
    font-size: 20px;
    z-index: 1;
}
  
.column img {
    width: 100%;
    height: auto;
}
  
.column .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    transition: opacity 0.3s ease;
}
  
  .column:hover .overlay {
    opacity: 0;
  }

@media (max-width: 1000px) {
    .column .overlay {
        opacity: 0;
    }
    .column h3 {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #000;
        margin:0;
        font-size: 20px;
        z-index: 1;
    }
}


footer.item3 {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: #ffffff;
    font-size: 16px;
    padding: 20px 0; /* Add padding to the top and bottom of the footer */
    display: flex; /* Add flex properties */
    justify-content: center; /* Center align the content horizontally */
    align-items: center; /* Center align the content vertically */
    text-align: center;
  }